@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color-333333: #333333;
  --bg-color-2D2D2D: #2d2d2d;
  --bg-color-0d1b2a: #0d1b2a;
  --bg-color-173B45: #173b45;
  --bg-color-1A3636: #1a3636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: var(--bg-color-333333);
  background-color: var(--bg-color-2D2D2D);
  background-color: var(--bg-color-0d1b2a);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-color-165ca8 {
  background-color: #165ca8;
}

.color-165ca8 {
  color: #165ca8;
}
